<div class="biography d-flex flex-row flex-grow overflow-hidden">
    <div class="d-flex flex-col flex-grow p-small overflow-hidden">
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4">{{localize "splittermond.biography.name"}}</label>
            <div class="col-6">{{actor.name}}</div>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4">{{localize "splittermond.biography.rasse"}}</label>
            <div class="col-5">{{data.biography.rasse}}</div>
            <div class="col-1 d-flex align-items-center" style="justify-content: flex-end">
                {{#if data.biography.rasse}}
                    <i class="fas fa-edit clickable" data-operation="edit" data-type="rasse" style="margin-right: 5px"></i>
                    <i class="fas fa-trash delete-race clickable" data-operation="delete" data-type="rasse"></i>
                {{/if}}
                {{#unless data.biography.rasse}}
                    <i class="fas fa-plus add-race clickable" data-operation="add" data-type="rasse"></i>
                {{/unless}}
            </div>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4">{{localize "splittermond.biography.abstammung"}}</label>
            <div class="col-5">{{data.biography.abstammung}}</div>
            <div class="col-1 d-flex align-items-center" style="justify-content: flex-end">
                {{#if data.biography.abstammung}}
                    <i class="fas fa-edit clickable"  data-operation="edit" data-type="abstammung" style="margin-right: 5px"></i>
                    <i class="fas fa-trash clickable"  data-operation="delete" data-type="abstammung"></i>
                {{/if}}
                {{#unless data.biography.abstammung}}
                    <i class="fas fa-plus clickable"  data-operation="add" data-type="abstammung"></i>
                {{/unless}}
            </div>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4">{{localize "splittermond.biography.kultur"}}</label>
            <div class="col-5">{{data.biography.kultur}}</div>
            <div class="col-1 d-flex align-items-center" style="justify-content: flex-end">
                {{#if data.biography.kultur}}
                    <i class="fas fa-edit clickable" data-operation="edit" data-type="kultur"  style="margin-right: 5px"></i>
                    <i class="fas fa-trash clickable" data-operation="delete" data-type="kultur" ></i>
                {{/if}}
                {{#unless data.biography.kultur}}
                    <i class="fas fa-plus clickable" data-operation="add" data-type="kultur" ></i>
                {{/unless}}
            </div>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4">{{localize "splittermond.biography.ausbildung"}}</label>
            <div class="col-5">{{data.biography.ausbildung}}</div>
            <div class="col-1 d-flex align-items-center" style="justify-content: flex-end">
                {{#if data.biography.ausbildung}}
                    <i class="fas fa-edit clickable" data-operation="edit" data-type="ausbildung"  style="margin-right: 5px"></i>
                    <i class="fas fa-trash clickable" data-operation="delete" data-type="ausbildung" ></i>
                {{/if}}
                {{#unless data.biography.ausbildung}}
                    <i class="fas fa-plus clickable" data-operation="add" data-type="ausbildung" ></i>
                {{/unless}}
            </div>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.geschlecht">{{localize "splittermond.biography.geschlecht"}}</label>
            <input class="col-6" type="text" name="data.geschlecht" value="{{data.geschlecht}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.haarfarbe">{{localize "splittermond.biography.haarfarbe"}}</label>
            <input class="col-6" type="text" name="data.haarfarbe" value="{{data.haarfarbe}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.koerpergroesse">{{localize "splittermond.biography.koerpergroesse"}}</label>
            <input class="col-6" type="text" name="data.koerpergroesse" value="{{data.koerpergroesse}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.augenfarbe">{{localize "splittermond.biography.augenfarbe"}}</label>
            <input class="col-6" type="text" name="data.augenfarbe" value="{{data.augenfarbe}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.gewicht">{{localize "splittermond.biography.gewicht"}}</label>
            <input class="col-6" type="text" name="data.gewicht" value="{{data.gewicht}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.hautfarbe">{{localize "splittermond.biography.hautfarbe"}}</label>
            <input class="col-6" type="text" name="data.hautfarbe" value="{{data.hautfarbe}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <label class="col-4" for="data.geburtsort">{{localize "splittermond.biography.geburtsort"}}</label>
            <input class="col-6" type="text" name="data.geburtsort" value="{{data.geburtsort}}"/>
        </div>
        <div class="d-flex flex-row align-items-center m-small">
            <div class="d-flex flex-col flex-grow">
                <label class="col-4" for="data.heldengrad">{{localize "splittermond.biography.heldengrad"}}</label>
                <input class="col-6" type="number" name="data.heldengrad" value="{{data.heldengrad}}"/>
            </div>
            <div class="d-flex flex-col flex-grow">
                <label class="col-4" for="data.erfahrungGesamt">{{localize "splittermond.biography.erfahrungGesamt"}}</label>
                <input class="col-6" type="number" name="data.erfahrungGesamt" value="{{data.erfahrungGesamt}}"/>
            </div>
            <div class="d-flex flex-col flex-grow">
                <label class="col-4" for="data.erfahrungEingesetzt">{{localize "splittermond.biography.erfahrungEingesetzt"}}</label>
                <input class="col-6" type="number" name="data.erfahrungEingesetzt" value="{{data.erfahrungEingesetzt}}"/>
            </div>
            <div class="d-flex flex-col flex-grow">
                <label class="col-4" for="data.erfahrungNaechsterHeldengrad" style="white-space: nowrap">{{localize "splittermond.biography.erfahrungNaechsterHeldengrad"}}</label>
                <input class="col-6" type="number" name="data.erfahrungNaechsterHeldengrad" value="{{data.erfahrungNaechsterHeldengrad}}"/>
            </div>
        </div>
    </div>
    <div class="d-flex flex-col flex-grow p-small">
        <h4>{{localize "splittermond.biography.backstory"}}</h4>
            <div class="d-flex flex-grow flex-col textbox">
            {{#> systems/splittermond/templates/partials/includes/editor.hbs target="data.backstory" content=data.backstory}}
            {{/systems/splittermond/templates/partials/includes/editor.hbs}}
        </div>
    </div>

</div>
