<div class="inventar d-flex flex-col flex-grow overflow-hidden">
    <div class="d-flex flex-grow" style="max-height: 100%; overflow: hidden;">
        {{!-- left side --}}
        <div class="d-flex flex-col flex-grow">
            {{!-- Waffen --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">Waffen</h3>
            <div style="min-height: 25%; max-height: 25%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="waffen-list" dynamic=true item=data.waffen fields=data.waffenFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="waffe"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="waffe" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="waffe" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>

            {{!-- Rüstungen --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">Rüstungen</h3>
            <div style="min-height: 25%; max-height: 25%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="ruestung-list" dynamic=true item=data.ruestungen fields=data.ruestungFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="ruestung"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="ruestung" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="ruestung" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
            {{!-- Schilde --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">Schilde</h3>
            <div style="min-height: 25%; max-height: 25%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="schild-list" dynamic=true item=data.schilde fields=data.schildFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="schild"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="schild" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="schild" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
        </div>
        {{!-- end left side --}}

        {{#> systems/splittermond/templates/partials/includes/separator-vertical.hbs}}
        {{/systems/splittermond/templates/partials/includes/separator-vertical.hbs}}

        {{!--right side --}}
        <div class="d-flex flex-col flex-grow">
            {{!-- Consumable / Benutzbar --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">Verwendbare Gegenstände</h3>
            <div style="min-height: 33%; max-height: 33%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="consumable-list" dynamic=true item=data.benutzbar fields=data.benutzbarFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="benutzbar"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="benutzbar" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="benutzbar" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
            {{!-- Sonstige Gegenstaende --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">Sonstiges</h3>
            <div style="min-height: 57%; max-height: 57%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="items-list" dynamic=true item=data.gegenstaende fields=data.gegenstandFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="gegenstand"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="gegenstand" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="gegenstand" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
        </div>
        {{!-- end right side --}}
    </div>
</div>
