<div class="inventar d-flex flex-col flex-grow overflow-hidden">
    <div class="d-flex flex-grow" style="max-height: 100%; overflow: hidden;">
        <div class="d-flex flex-col flex-grow">
            {{!-- Consumable / Benutzbar --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">{{localize "splittermond.inventar.benutzbares.header"}}</h3>
            <div style="min-height: 33%; max-height: 33%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="consumable-list" dynamic=true item=data.benutzbares.tableData fields=data.benutzbares.tableFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="benutzbar"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="benutzbar" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="benutzbar" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
            {{!-- Sonstige Gegenstaende --}}
            <h3 class="m-0" style="font-weight: bold; margin-top: 10px">{{localize "splittermond.inventar.sonstiges.header"}}</h3>
            <div style="min-height: 57%; max-height: 57%; overflow: hidden">
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="items-list" dynamic=true item=data.sonstiges.tableData fields=data.sonstiges.tableFields}}
                    {{#*inline "icons-end"}}
                        <i class="fas fa-plus clickable" data-operation="add" data-type="gegenstand"></i>
                    {{/inline}}
                    {{#*inline "item-template"}}
                        {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                            {{#*inline "icons-end"}}
                                <i class="fas fa-edit clickable" data-operation="edit" data-type="gegenstand" data-click-id="{{id}}"></i>
                                <i class="fas fa-trash clickable" data-operation="delete" data-type="gegenstand" data-click-id="{{id}}"></i>
                            {{/inline}}
                        {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
        </div>
    </div>
</div>
