<form class="item-sheet sheet p-small {{class}}" autocomplete="off">
    <div class="d-flex flex-col flex-grow" style="max-width: 100%; max-height: 100%; overflow: hidden;">
        <h1>{{localize "splittermond.chargen-distribute-points.title"}}</h1>
        <div class="d-flex align-items-center">
            {{localize "splittermond.chargen-distribute-points.remaining"}} {{remaining}} / {{numPoints}}
        </div>
        {{#each options}}
            <div class="d-flex align-items-center">
                <div class="col-6">{{label}}</div>
                <input class="col-4" type="number" name="option.{{@index}}" value="{{getByKey ../distributedPoints @index}}"/>
            </div>
        {{/each}}

        {{#if canSubmit}}
            <button class="btn-submit clickable">{{localize "splittermond.chargen-distribute-points.ok"}}</button>
        {{/if}}
    </div>
</form>
