{{#> systems/splittermond/templates/partials/layouts/layout-item.hbs class="modifier-sheet" hasPortrait=false
                                                                     noNav=true}}
    {{#*inline "nonav-content"}}
        <div class="d-flex flex-col flex-grow">
            <div class="d-flex align-items-center m-small">
                <label for="type" class="col-4">{{localize "splittermond.modifier.type"}}</label>
                <div class="d-flex col-6">
                    {{#> systems/splittermond/templates/partials/includes/dropdown.hbs
                            name="type"
                            selected=type
                            labels=(asList "splittermond.dropdown.attribute" "splittermond.dropdown.fertigkeit" "splittermond.dropdown.tickPlus" "splittermond.dropdown.woundLevel")
                            values=(asList "attribute" "fertigkeit"  "tickPlus" "woundLevel")
                    }}
                    {{/systems/splittermond/templates/partials/includes/dropdown.hbs}}
                </div>
            </div>
            <div class="d-flex align-items-center m-small">
                <label for="target" class="col-4">{{localize "splittermond.modifier.target"}}</label>
                <div class="d-flex col-6">
                    {{#if (eq type "attribute")}}
                        {{#> systems/splittermond/templates/partials/includes/dropdown.hbs
                                name="target"
                                selected=target
                                labels=(prefix "splittermond.attribute." (attrNames base=true derived=true includeGK=true))
                                values=(attrNames base=true derived=true includeGK=true)
                        }}
                        {{/systems/splittermond/templates/partials/includes/dropdown.hbs}}
                    {{else}}
                        <input type="text" name="target" value="{{target}}"/>
                    {{/if}}
                </div>
            </div>
            <div class="d-flex align-items-center m-small">
                <label for="value" class="col-4">{{localize "splittermond.modifier.value"}}</label>
                <input type="text" class="col-6" name="pointOptions" value="{{pointOptions}}"/>
            </div>
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/layouts/layout-item.hbs}}
