{{#> systems/splittermond/templates/partials/layouts/layout-actor.hbs class="splimo-player-sheet"}}
    {{#*inline "header-content"}}
        <div class="d-flex flex-row border-bottom-fancy header-container">
            <div class="d-flex flex-col flex-grow">
                <h1 class="charname flex-grow" style="padding-left: 90px; border: none"><input name="name" type="text" value="{{actor.name}}"/></h1>
                <div class="d-flex">
                </div>
            </div>
            <div class="d-flex flex-col" style="min-width: 100px; max-width: 100px;">
                {{#> systems/splittermond/templates/partials/includes/indicator.hbs iconClasses="fas fa-heart" size=100 color="#d2f5fd"}}
                    {{#*inline "mainText"}}
                        <span style="font-size: 1rem; font-weight: bold; {{memeText "black" "lightgrey" "1px"}}">{{data.view.health.current}} / {{data.view.health.max}}</span>
                    {{/inline}}
                    {{#*inline "title"}}
                        <span style="font-size: 1rem; font-weight: bold;">Lebenspunkte</span>
                    {{/inline}}
                    {{#*inline "inputField"}}
                        <input type="text" name="data.view.health.asString" value="{{data.view.health.asString}}"/>
                        <input type="number" name="data.view.health.max" value="{{data.view.health.max}}" style="display: none;"/>
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/indicator.hbs}}
            </div>
            <div class="d-flex flex-col" style="min-width: 100px; max-width: 100px;">
                {{#> systems/splittermond/templates/partials/includes/indicator.hbs iconClasses="fas fa-bolt" size=100 color="#d2f5fd"}}
                    {{#*inline "mainText"}}
                        <span style="font-size: 1rem; font-weight: bold; {{memeText "black" "lightgrey" "1px"}}">{{data.view.fokus.current}} / {{data.view.fokus.max}}</span>
                    {{/inline}}
                    {{#*inline "title"}}
                        <span style="font-size: 1rem; font-weight: bold;">Fokus</span>
                    {{/inline}}
                    {{#*inline "inputField"}}
                        <input type="text" name="data.view.fokus.asString" value="{{data.view.fokus.asString}}"/>
                        <input type="number" name="data.view.fokus.max" value="{{data.view.fokus.max}}" style="display: none;"/>
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/indicator.hbs}}
            </div>
        </div>
    {{/inline}}
    {{#*inline "nav-tabs"}}
        <a class="item control-height" data-tab="description">{{localize "splittermond.pc.nav.bio"}}</a>
        <a class="item control-height" data-tab="attributes">{{localize "splittermond.pc.nav.attributes"}}</a>
        <a class="item control-height" data-tab="fertigkeiten">{{localize "splittermond.pc.nav.fertigkeiten"}}</a>
        <a class="item control-height" data-tab="inventory">{{localize "splittermond.pc.nav.inventar"}}</a>
        <a class="item control-height" data-tab="zauber">{{localize "splittermond.pc.nav.zauber"}}</a>
    {{/inline}}
    {{#*inline "nav-content"}}
        <div class="tab overflow-hidden" data-group="primary" data-tab="description">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/biography.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/biography.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="attributes">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/attributes.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/attributes.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="fertigkeiten">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/fertigkeiten.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/fertigkeiten.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="inventory">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/inventory.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/inventory.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="zauber">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/zauber.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/zauber.hbs}}
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/layouts/layout-actor.hbs}}
