<div class="fertigkeiten d-flex flex-col flex-grow overflow-hidden" style="overflow-y: auto">
    <h3>{{localize "splittermond.npc.fertigkeiten.newSkill"}}</h3>
    <div class="d-flex align-items-center m-big">
        <input class="col-4 m-small" type="text" name="data.newFertigkeit.name" value=""/>
    </div>
    <h3>{{localize "splittermond.npc.fertigkeiten.skills"}}</h3>
    <div class="d-flex align-items-center">
        <div class="d-flex col-6">{{localize "splittermond.npc.fertigkeiten.name"}}</div>
        <div class="d-flex col-3">{{localize "splittermond.npc.fertigkeiten.wert"}}</div>
    </div>
    {{#each data.fertigkeiten}}
        <div class="d-flex align-items-center m-big">
            <input class="col-6 m-small" type="text" name="data.fertigkeiten[{{@index}}].name" value="{{name}}"/>
            <input class="col-3 m-small" type="number" name="data.fertigkeiten[{{@index}}].wert" value="{{wert}}"/>
            <div class="d-flex align-items-center col-1 m-small">
                <i class="fas fa-dice-d20 clickable" style="margin-right: 5px;" data-operation="roll" data-roll="{{wert}}" data-roll-info="{{npcSkillRollInfo this}}"></i>
                <i class="fas fa-trash clickable" data-index="{{@index}}"></i>
            </div>
        </div>
    {{/each}}
</div>
