<div class="waffen d-flex flex-col flex-grow overflow-hidden" style="overflow-y: auto">
    <h3>{{localize "splittermond.npc.waffen.newWaffe"}}</h3>
    <div class="d-flex align-items-center m-big">
        <input class="col-4 m-small" type="text" name="data.newWaffe.name" value=""/>
    </div>
    <h3>{{localize "splittermond.npc.waffen.waffen"}}</h3>
    <div class="d-flex align-items-center m-big">
        <div class="d-flex col-3 m-small">{{localize "splittermond.npc.waffen.name"}}</div>
        <div class="d-flex col-1 m-small">{{localize "splittermond.npc.waffen.wert"}}</div>
        <div class="d-flex col-2 m-small">{{localize "splittermond.npc.waffen.schaden"}}</div>
        <div class="d-flex col-1 m-small">{{localize "splittermond.npc.waffen.wgs"}}</div>
        <div class="d-flex col-2 m-small">{{localize "splittermond.npc.waffen.merkmale"}}</div>
    </div>
    {{#each data.waffen}}
        <div class="d-flex align-items-center m-big">
            <input class="col-3 m-small" type="text" name="data.waffen[{{@index}}].name" value="{{name}}"/>
            <input class="col-1 m-small" type="number" name="data.waffen[{{@index}}].wert" value="{{wert}}"/>
            <input class="col-2 m-small" type="text" name="data.waffen[{{@index}}].schaden" value="{{schaden}}"/>
            <input class="col-1 m-small" type="number" name="data.waffen[{{@index}}].wgs" value="{{wgs}}"/>
            <input class="col-2 m-small" type="text" name="data.waffen[{{@index}}].merkmale" value="{{merkmale}}"/>
            <div class="d-flex align-items-center col-1 m-small">
                <i class="fas fa-dice-d20 clickable" style="margin-right: 5px;" data-operation="roll" data-roll="{{wert}}" data-roll-info="{{npcWeaponRollInfo this}}"></i>
                <i class="fas fa-trash clickable" data-index="{{@index}}"></i>
            </div>
        </div>
    {{/each}}
</div>

