<div class="d-flex flex-col flex-grow p-small overflow-hidden">
    <div style="min-height: 100%; max-height: 100%; overflow: hidden">
        {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="waffen-list" dynamic=true item=data.waffen.tableData fields=data.waffen.tableFields}}
            {{#*inline "icons-end"}}
                <i class="fas fa-plus clickable" data-operation="add" data-type="waffe"></i>
            {{/inline}}
            {{#*inline "item-template"}}
                {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                    {{#*inline "icons-end"}}
                        {{#if equipped}}
                            <i class="fas fa-tshirt clickable" data-operation="unequip" data-type="waffe"
                               data-click-id="{{id}}"></i>
                        {{else}}
                            <i class="fas fa-tshirt clickable"
                               style="color: lightgrey; filter: drop-shadow(0 0 1px black)" data-operation="equip"
                               data-type="waffe" data-click-id="{{id}}"></i>
                        {{/if}}
                        {{#if (isNotNull roll)}}
                            <i class="fas fa-dice-d20 clickable" data-operation="roll" data-roll="{{roll}}"  data-roll-info="{{rollInfo}}" data-click-id="{{id}}"></i>
                        {{/if}}
                        <i class="fas fa-edit clickable" data-operation="edit" data-type="waffe" data-click-id="{{id}}"></i>
                        <i class="fas fa-trash clickable" data-operation="delete" data-type="waffe" data-click-id="{{id}}"></i>
                    {{/inline}}
                {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
            {{/inline}}
        {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
    </div>
</div>
